<head>
    <link rel="stylesheet" href="../views/stylesheet.css">
</head>

<body class="faqBody">
    <header class="mainH">
        <div class="mainName">White Flag</div>
        <a class="mainA" href="/signIn">sign in</a>
        <a class="mainA" href="/">home</a>

    </header>

    <h1 class="faqHone">tell me more..</h1>
    <p class="missionStatement">White Flag is a lecture tool designed to help students anonymously communicate their level of understanding in real time.
    </p>
        <div class="faqDIV">
        <h2 class="faqHtwo">The Options</h2>

        <p class="faqSlow">Slow</p>
        <p class="faqP">Whoa Nellie! I need things to  slow down.</p>

        <p class="faqConnect">Connect</p>
        <p class="faqP">I'm not an astronomer. I need help connecting the dots in how things relate.</p>

        <p class="faqRepeat">Repeat</p>
        <p class="faqP">Wait, what?  Repeat that last thought, please and thank you.</p>

        <p class="faqLost">Lost</p>
        <p class="faqP">Call me Alice cause I'm lost down a rabbit hole. I am totally confused.  </p>

        <p class="faqBreak">Break</p>
        <p class="faqP">Is the fetal position conducive to learning? My fragile psyche needs a break!</p>

        <p class="faqGood">Good</p>
        <p class="faqP">I'm keeping up with everything going on.</p>

    </div>

        <p><a class="faqA" href="faq.html">return to top</a></p>


</body>