<!DOCTYPE html>
<html lang="en" ng-app="whiteFlagApp">
<head>
    <link href='https://fonts.googleapis.com/css?family=Righteous|Itim' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../views/stylesheet.css">
</head>
<body class="logBody">
    <header class="mainH">
        <div class="mainName">White Flag</div>
        <!--<a class="mainA" href="/signIn">sign in</a>-->
        <a class="mainA" href="/">home</a>
    </header>
    <h1>login</h1>
    <form role='form' action="/login" method="post">
        <div>

            <input class="submitForm" type="text" name="username" id="username" placeholder='class name'/>
        </div>
        <div>

            <input class="submitForm" type="password" name="password" id="password" placeholder='password'>
        </div>
        <div>
            <input class="submitButton" type="submit" value="submit"/>
            <!--<input type="submit" value="login"/>-->
        </div>
</form>
</body>