<!DOCTYPE html>
<html lang="en" ng-app="whiteFlagApp">
<head>
    <link href='https://fonts.googleapis.com/css?family=Righteous|Itim' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../views/stylesheet.css">
</head>
<body>
<form action="/register" method="post">
    <div>
        <label for="username">class name</label>
        <input type="text" name="username" id="username" placeholder='class name'/>
    </div>
    <div>
        <label for="password">password</label>
        <input type="password" name="password" id="password" placeholder='password'>
    </div>
    <div>
        <input type="submit" value="login"/>
    </div>
</form>
</body>