<!Doctype html>
<html lang="en" ng-app="whiteflag">
<head>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="../assets/scripts/optionsController.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Righteous|Itim' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../views/stylesheet.css">
</head>
    <body class="optionsBody">

        <header class="mainH">
            <div class="mainName">White Flag</div>
            <a class="mainA" href="/logout">sign out</a>
        </header>

        <div class="options" ng-controller="optionsController">
            <div class="optionsFlag">
                <div ng-hide="divSlow" ng-class="[slowBar, slowClass]"></div>
                <div ng-hide="divConnect" ng-class="[connectBar, connectClass]"></div>
                <div ng-hide="divRepeat" ng-class="[repeatBar, repeatClass]"></div>
                <div ng-hide="divLost" ng-class="[lostBar, lostClass]"></div>
                <div ng-hide="divBreak" ng-class="[breakBar, breakClass]"></div>
                <div ng-hide="divGood" ng-class="[goodBar, goodClass]"></div>
            </div>

            <div class="optionsButtons">
                <button ng-click="countSlow()" class="slow">slow</button>
                <button ng-click="countConnect()" class="connect">connect</button>
                <button ng-click="countRepeat()" class="repeat">repeat</button>
                <button ng-click="countLost()" class="lost">lost</button>
                <button ng-click="countBreak()"  class="break">break</button>
                <button ng-click="countGood()" class="good">good</button>
                <button ng-click="clearColor()" class="clear">clear</button>
            </div>


        </div>
</body>
</html>