<head>
    <link href='https://fonts.googleapis.com/css?family=Righteous|Itim' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../views/stylesheet.css">
</head>
<header class="mainH">
    <div class="mainName">White Flag</div>
    <a class="mainA" href="/logout">sign out</a>

</header>
    <body class="optionsBody">

        <div class="optionsFlag">
            <div class="slowBar"></div>
            <div class="connectBar"></div>
            <div class="repeatBar"></div>
            <div class="lostBar"></div>
            <div class="breakBar"></div>
            <div class="goodBar"></div>
        </div>

        <div class="optionsButtons">
            <button class="slow">slow</button>
            <button class="connect">connect</button>
            <button class="repeat">repeat</button>
            <button class="lost">lost</button>
            <button class="break">break</button>
            <button class="good">good</button>
        </div>
<!--<div class="circle"></div>-->


</body>