<!Doctype html>
<html lang="en" ng-app="whiteflag">
<head>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="../assets/scripts/optionsController.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Righteous|Itim' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../views/stylesheet.css">
</head>
<header class="mainH">
    <div class="mainName">White Flag</div>
    <a class="mainA" href="/logout">sign out</a>

</header>
    <body class="optionsBody">
        <div class="options" ng-controller="optionsController">
            <div class="optionsFlag">
                <div ng-hide="divSlow" class="slowBar"></div>
                <div ng-hide="divConnect" class="connectBar"></div>
                <div ng-hide="divRepeat" class="repeatBar"></div>
                <div ng-hide="divLost" class="lostBar"></div>
                <div ng-hide="divBreak" class="breakBar"></div>
                <div ng-hide="divGood" class="goodBar"></div>
            </div>

            <div class="optionsButtons">
                <button ng-click="opacitySlow()" ng-class="classSlow" class="slow">slow</button>
                <button ng-click="opacityConnect()" ng-class="classConnect" class="connect">connect</button>
                <button ng-click="opacityRepeat()" ng-class="classRepeat" class="repeat">repeat</button>
                <button ng-click="opacityLost()" ng-class="classLost" class="lost">lost</button>
                <button ng-click="opacityBreak()" ng-class="classBreak" class="break">break</button>
                <button ng-click="opacityGood()" ng-class="classGood" class="good">good</button>
            </div>

        </div>
</body>
</html>