.mainBody {
    background-image: url(../images/login.jpg);
    font-family: 'Righteous', cursive;
}

.mainH {
    font-family: 'Itim', cursive;
    background-color: rgba(221, 221, 221, 0.40);
    border-bottom: solid medium;
    border-bottom-color: rgba(254, 159, 151, .45);
    height: 130px;
}
.mainHello {
    margin: 280px auto 0 auto;
    width: 112px;
    color: rgba(0, 149, 163, 0.75);
    font-family: 'Righteous', cursive;
    font-size: 100px;
    font-weight: 300;
    }
.mainA {
    margin: 80px 0 0 30px;
    display: block;
    float: left;
    padding: 15px 20px 0 20px;
    color: rgba(0, 164, 181, 0.81);
    font-size: 30px;
    text-decoration: none;
}
.mainName {
    margin: 75px 30px 0 0;
    float: right;
    color: rgba(251, 251, 251, 0.9);
    font-family: learning curve pro;
    font-size: 75px;
    font-weight: 600;
}
.regBody {
    background-image: url(../images/collection.jpg);
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 40px;
}
.logBody {
    background-image: url(../images/bluetri.jpg);
    text-align: center;
    color: rgba(221, 221, 221, 0.8);
    font-family: 'Righteous', cursive;
    font-size: 40px;
}
.submitButton {
    background:none;
    border:none;
    margin:0 auto 10px auto;
    padding: 0;
    color: rgba(10, 211, 240, 0.63);
    font-size: 25px;
    font-family: 'Itim', cursive;
}
.submitForm {
    text-align: center;
    margin: 30px auto 15px auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 250px;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    font-family: 'Itim', cursive;
    color: rgba(5, 221, 23, 0.63);
    font-size: 30px;
    height: 45px;
}
.faqBody{
    background-image: url(../images/retro.jpg);
    font-family: 'Itim', cursive;
}

.faqHone {
    margin: 50px auto 30px auto;
    display: block;
    text-align: center;
    color: #444;
    font-size: 60px;
    font-weight: 200;
}
.missionStatement {
    text-align: center;
    margin: 0 auto;
    width: 500px;
    color: white;
    font-size: 25px;
}
.faqDIV {
    text-align: center;
    margin: 0 auto;
}
.faqHtwo {
    color: rgba(31, 39, 46, 0.76);
    margin: 20px auto -15px auto;
    font-size: 32px;
    text-decoration: underline;
}
.faqP {
    margin: -22px auto 0 auto;
    font-size: 24px;
    width: 500px;
}
.faqSlow {
    color: rgba(253, 255, 57, 0.79);
    font-size: 28px;
    font-style: italic;
}
.faqConnect {
    color: #003366;
    font-size: 28px;
    font-style: italic;
}
.faqRepeat {
    color: rgba(83, 11, 67, 0.87);
    font-size: 28px;
    font-style: italic;
}
.faqLost {
    color: rgba(213, 60, 9, 0.87);
    font-size: 28px;
    font-style: italic;
}
.faqBreak {
    color: #880000;
    font-size: 28px;
    font-style: italic;
}
.faqGood {
    color: #009926;
    font-size: 28px;
    font-style: italic;
}
.faqA {
    margin: 20px auto 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}
.optionsBody{
    background-image: url(../images/hex.jpg);
    font-family: 'Itim', cursive;
}
.optionsButtons {
    margin: 90px auto 0 auto;
    /*text-align: -webkit-center;*/
    float: right;
    width: 120px;
}
.slow {
    background:none;
    border:none;
    margin:0 auto 10px auto;
    padding: 0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    color: rgba(253, 255, 57, 0.7);
}
.connect {
    background:none;
    border:none;
    margin:0 auto 10px auto;
    padding: 0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    color: rgba(0, 51, 102, 0.7);
}
.repeat {
    background:none;
    border:none;
    margin:0 auto 10px auto;
    padding: 0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    color: rgba(83, 11, 67, 0.7);
}
.lost {
    background:none;
    border:none;
    margin:0 auto 10px auto;
    padding: 0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    color: rgba(213, 60, 9, 0.7);
}
.break {
    background:none;
    border:none;
    margin:0 auto 10px auto;
    padding: 0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    color: rgba(136, 0, 0, 0.7);
}
.good {
    background:none;
    border:none;
    margin:0 auto 10px auto;
    padding: 0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    color: rgba(0, 153, 38, 0.7);
}
.clear {
    background:none;
    border:none;
    margin:15px auto 0 auto;
    font-size: 30px;
    font-family: 'Righteous', cursive;
    color: rgba(221, 0, 31, 0.71);
}

.optionsFlag {
    margin: 90px 30px auto ;
    height: 420px;
    width: 600px;
    float: left;
    background-color: rgb(221, 221, 221, 0.5);
}
.slowBar {
    background-color: rgb(253, 255, 57);
    height: 70px;
    width: 600px;
}
.connectBar {
    background-color: rgb(0, 51, 102);
    height: 70px;
    width: 600px;

}
.repeatBar {
    background-color: rgb(83, 11, 67);
    height: 70px;
    width: 600px;
}
.lostBar {
    background-color: rgb(213, 60, 9);
    height: 70px;
    width: 600px;
}
.breakBar {
    background-color: rgb(136, 0, 0);
    height: 70px;
    width: 600px;
}
.goodBar {
    background-color: rgb(0, 153, 38);
    height: 70px;
    width: 600px;
}

.light {
    opacity: 0.2;
}
.medium {
    opacity: 0.4;
}
.heavy {
    opacity: 0.6;
}
.ultraHeavy {
    opacity: 0.8;
}
.full {
    opacity: 1.0;
}