.mainBody {
    background-image: url(../images/login.jpg);
    font-family: 'Righteous', cursive;
}

.mainH {
    font-family: 'Itim', cursive;
    background-color: rgba(221, 221, 221, 0.40);
    border-bottom: solid medium;
    border-bottom-color: rgba(254, 159, 151, .45);
    height: 150px;
}
.mainHello {
    margin: 255px auto 0 auto;
    width: 112px;
    color: rgba(0, 149, 163, 0.75);
    font-family: 'Righteous', cursive;
    font-size: 100px;
    font-weight: 300;
    }
.mainA {
    margin: 95px 0 0 30px;
    display: block;
    float: left;
    padding: 15px 20px 0 20px;
    color: rgba(0, 164, 181, 0.81);
    font-size: 30px;
    text-decoration: none;
}
.mainName {
    margin: 95px 30px 0 0;
    float: right;
    font-family: learning curve pro;
    font-size: 75px;
    font-weight: 600;
}
.regBody {
    background-image: url(../images/purple.jpg);
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 40px;
}
.logBody {
    background-image: url(../images/lightblue.jpg);
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 40px;
}
.faqBody{
    background-image: url(../images/triangles.jpg);
    font-family: 'Itim', cursive;
}

.faqHone {
    margin: 50px auto 30px auto;
    display: block;
    text-align: center;
    color: #444;
    font-size: 60px;
    font-weight: 200;
}
.missionStatement {
    text-align: center;
    margin: 0 auto;
    width: 500px;
    color: white;
    font-size: 25px;
}
.faqDIV {
    text-align: center;
    margin: 0 auto;
}
.faqHtwo {
    color: rgba(31, 39, 46, 0.76);
    margin: 20px auto -15px auto;
    font-size: 32px;
    text-decoration: underline;
}
.faqP {
    margin: -22px auto 0 auto;
    font-size: 24px;
    width: 500px;
}
.faqSlow {
    color: rgba(253, 255, 57, 0.79);
    font-size: 28px;
    font-style: italic;
}
.faqConnect {
    color: #003366;
    font-size: 28px;
    font-style: italic;
}
.faqRepeat {
    color: rgba(83, 11, 67, 0.87);
    font-size: 28px;
    font-style: italic;
}
.faqLost {
    color: rgba(213, 60, 9, 0.87);
    font-size: 28px;
    font-style: italic;
}
.faqBreak {
    color: #880000;
    font-size: 28px;
    font-style: italic;
}
.faqGood {
    color: #009926;
    font-size: 28px;
    font-style: italic;
}
.faqA {
    margin: 20px auto 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}
.optionsBody{
    background-image: url(../images/retro.jpg);
    font-family: 'Itim', cursive;
}
.optionsButtons {
    margin: 60px auto 0 auto;
    /*text-align: -webkit-center;*/
    float: right;
    width: 120px;
}
.slow {
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    color: rgba(253, 255, 57, 0.7);
}
.connect {
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    color: rgba(0, 51, 102, 0.7);
}
.repeat {
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    color: rgba(83, 11, 67, 0.7);
}
.lost {
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    color: rgba(213, 60, 9, 0.7);
}
.break {
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    color: rgba(136, 0, 0, 0.7);
}
.good {
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    color: rgba(0, 153, 38, 0.7);
}
.optionsFlag {
    margin: 40px 30px auto ;
    height: 400px;
    width: 600px;
    float: left;
    background-color: rgba(221, 221, 221, 0.5);
}

/*.circle {*/
    /*margin: 75px auto 0 auto;*/
    /*width: 800px;*/
    /*height: 800px;*/
    /*background-color: rgba(255, 247, 238,  0.75);*/
    /*-moz-border-radius: 400px;*/
    /*-webkit-border-radius: 400px;*/
    /*border-radius: 400px;*/
/*}*/
/*.slow {*/
    /*margin: 85px 900px 80px auto;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*background-color: rgba(255, 201, 54, 0.75);*/
    /*-moz-border-radius: 40px;*/
    /*-webkit-border-radius: 40px;*/
    /*border-radius: 40px;*/
/*}*/
/*.connect {*/
    /*margin: 85px 900px 80px auto;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*background-color: rgba(33, 129, 150, 0.75);*/
    /*-moz-border-radius: 40px;*/
    /*-webkit-border-radius: 40px;*/
    /*border-radius: 40px;*/
/*}*/
/*.repeat {*/
    /*margin: 85px 900px 80px auto;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*background-color: rgba(125, 69, 83,  0.75);*/
    /*-moz-border-radius: 40px;*/
    /*-webkit-border-radius: 40px;*/
    /*border-radius: 40px;*/
/*}*/
/*.lost {*/
    /*margin: 85px 900px 80px auto;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*background-color: rgba(204, 104, 62,  0.75);*/
    /*-moz-border-radius: 40px;*/
    /*-webkit-border-radius: 40px;*/
    /*border-radius: 40px;*/
/*}*/
/*.break {*/
    /*margin: 85px 900px 80px auto;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*background-color: rgba(134, 20, 20, 0.75);*/
    /*-moz-border-radius: 40px;*/
    /*-webkit-border-radius: 40px;*/
    /*border-radius: 40px;*/
/*}*/
/*.good {*/
    /*margin: 85px 900px 80px auto;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*background-color: rgba(53, 160, 92, 0.75);*/
    /*-moz-border-radius: 40px;*/
    /*-webkit-border-radius: 40px;*/
    /*border-radius: 30px;*/
/*}*/
